/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/global-styles/
  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: 1.5;
  line-height: calc(1em + 0.625rem);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
}

body {
  font-family: Robot, sans-serif;
}

.wrapper {
  padding: 2rem 0;
  max-width: 800px;
  margin: 0 auto;
}
