.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html.dark .loader-container {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--fg);
}

.loader-container .loader {
  height: 10rem;
  width: 10rem;
}
